<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Survey Form</h1>

    <div class="container">
      <div class="formdiv">
        <p>let us know how we can improve freeCodeCamp</p>
        <form action="Servey">
          <div class="row">
            <div class="label">
              <label for="name">Name:</label>
            </div>
            <div class="input-box">
              <input
                class="fieldtext"
                type="text"
                placeholder="Enter your Name"
                id="name"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="label">
              <label for="email">Email:</label>
            </div>
            <div class="input-box">
              <input
                class="fieldtext"
                type="email"
                placeholder="Enter your Email"
                id="email"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="label">
              <label for="age">Age:</label>
            </div>
            <div class="input-box">
              <input
                class="fieldtext"
                type="number"
                placeholder="Enter your Age"
                id="age"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="label">
              <label for="role">Which option best describes your role? </label>
            </div>
            <div class="input-box">
              <select class="select" name="roles" id="role">
                <option value="Student">Student</option>
                <option value="Employed">Employed</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="label">
              <label for="recommend">
                How likely is that you would recommend <br />
                freeCodeCamp to a friend?
              </label>
            </div>
            <div class="input-box">
              <div class="options">
                <input type="radio" id="def" name="likelyhood" />
                <label for="def">Definitely</label>
                <br />
                <input type="radio" id="maybe" name="likelyhood" />
                <label for="maybe">Maybe</label>
                <br />
                <input type="radio" id="not" name="likelyhood" />
                <label for="not">Not Sure </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="label">
              <label for="fcc">what do you like most in FCC? </label>
            </div>
            <div class="input-box">
              <select class="select" id="fcc">
                <option disabled selected>Select your option</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="label">
              <label for="recommend">
                Things that should be improved in the future <br />
                (check all that applies)
              </label>
            </div>
            <div class="input-box">
              <div class="options">
                <input type="checkbox" id="def" />
                <label for="front">Front-End-Projects</label>
                <br />
                <input type="checkbox" id="maybe" />
                <label for="back">Back-End-Projects</label>
                <br />
                <input type="checkbox" id="not" />
                <label for="data">Data visualization</label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
