

.container{
    width: 100%;
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
}
code{
    background-color: rgb(13,17,23);
}
.parent-panel,.mat-expansion-panel-header{
    background-color:#e3f0f1;
}
.header{
    display: block;
    color: black;
}
.child-panel{
    background-color:#69aaec;
}