<!--Toolbar-->
<div class="toolbar-container">
  <mat-toolbar class="toolbar">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon> menu </mat-icon>
    </button>
    <span>Welcome</span>
    <span class="spacer"></span>
    <button mat-button>Home</button>
    <button mat-button>Solutions</button>
  </mat-toolbar>
</div>

<!--Sidenav-->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item [routerLink]="''">Home</a>
      <a mat-list-item [routerLink]="'solutions'">Solutions</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
