<div class="container">
  <div class="text1">
    <h1 class="header">Web Engineering Course final project By Saad Belkhou</h1>
    <h3 class="welcome">
      Welcome to my <b> Solution-Navigator</b>, a simple navigator built using
      the tools and technologies provided in the lecture Einf. in Web
      Engineering (WE). It is a collection of solutions to various tasks
      assigned to us throughout the semester, all in one place for easy
      reference. all external sources used are to be found in the table below.
      and the for code snippets that have not been added in the navigator, you
      can find them in the
      <a
        style="color: rgb(13, 233, 6)"
        href="https://github.com/xsaad2/MyWebStart"
        target="_blank"
        >GitHUb</a
      >
      repository.
    </h3>
    <iframe [src]="safeUrl" width="70%" height="700px"></iframe>
  </div>
</div>
